.container {
	display: flex;
	flex-direction: row;	
	margin-left: 8%;
	margin-top: 40px;
	z-index: 999;
}

.containerLeft {
	display: flex;
	margin-right: 8px;
	flex-direction: column;
	width: fit-content;
}

.containerRight {
	display: flex;
	flex-direction:column;
	width: fit-content;
	justify-content: center;
	align-items: center;

}

.containerLeft > div { 
	margin-bottom: 8px;
}

.containerRight > div {
	margin-bottom: 8px;
}