.container {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
/* margin-top: 150px; */
}

.containerLeft {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerLeft>div {
    margin-bottom: 16px;
}

.containerRight>div {
    margin-bottom: 16px;
}