.container {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
	grid-template-columns: repeat(8, 1fr);
	margin-top: 8px;
	gap: 1rem;
	
}

.title{
	padding-top: 40px;
	font-size: 24px;
}

.hero {
	place-self: center;
}