.container {
	display: grid;
	grid-template-columns: repeat(6, minmax(100px, 1fr));
	margin-top: var(--spacing-sm);
	gap: var(--spacing-sm);
}

.title{
	padding-top: 40px;
	font-size: 24px;
}

.hero.selected{
	filter: grayscale(1);
}