.container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	margin-top: 6px;
}

.title{
	padding-top: 40px;
	font-size: 24px;
	
}