.wrapper{
	display: flex;
	width: 100vw;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 8%;
	justify-content: space-between;
	vertical-align: center;
}

.block{
	width: 32px;
	height: 32px;
	border-radius: 6px 0px 6px 0px;
	background-color: white;
}

.logo {
	display: flex;
	vertical-align: center;
	align-items: center;
}

.logo > span {
	margin-left: 10px;
}