.wrapper {
    display: flex;
    padding-left: 8%;
    padding-top: 8%;
}

.block {
    width: 24px;
    height: 24px;
    border-radius: 6px 0px 6px 0px;
    background-color: white;
}

.logo {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.logo>span {
    margin-left: 4px;
}



.title {
    opacity: 0.3;
    font-size: 16px;
    font-family: Bebas Neue;
}

.title~span {
    color: white;
    font-family: Bebas Neue;
}

.sectionTitle {
    font-size: 16px;
    font-family: Bebas Neue;
    padding-left: 8%;
}