.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
	justify-content: flex-end;
    z-index: 900;
}

.container {
    position: fixed;  /* or position: fixed; depending on your need */
    right: 0;
    width: 33vw;
    height: 100%;
    background-color: var(--color-secondary-background);
}

.Header {
    display: flex;
    width: 100%;
}

.signatureSection {
    display: flex;
    flex-direction: column;
}


.starsSection {
    display: flex;
    flex-direction: column;
}


.awakeningSection {
    display: flex;
    flex-direction: column;
}