.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: 500px;
    padding: 48px;
    padding-top: 40px;
    top: 0;
    left: 30vw;
    background-color: #0F1012;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 28px;
    color: white;
}

.closeButtonWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: 'Bebas Neue';
    color: white;
    opacity: 0.5;
    font-size: 16px;
}

.closeButton {
    background-color: var(--color-secondary-background);
    border: 1px solid var(--color-divider);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    border: 1px solid white;
    cursor: pointer;
}

.heroNameAndDescription {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue';
    color: #FFF;
    font-size: 28px;
    justify-items: center;
}

.heroNameAndDescription>span {
    font-family: Arial;
    font-size: 16px;
    opacity: 0.5;
}

.heroInformation {
    margin-top: 40px;
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}


.firstRowDescription {
    display: flex;
    gap: 8px;
}

.avatarImg {
    border-radius: 12px 2px;
}

.iconsWrapper {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.awakeningSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}


.maxOutSection {
    display: flex;
    flex-direction: column;
}

.maxOutButton {
    border: 1px solid var(--color-divider);
    height: 48px;
    border-radius: 32px 0px 32px 0px;
    margin-bottom: 8px;
    background-color: var(--color-secondary-background);
    color: var(--color-primary-text);
}

.maxOutButton:hover {
    border: 1px solid white;
    cursor: pointer;
}