.container {
    width: 124px;
    height: 124px;
    display: flex;
    border-radius: 24px 0px 40px 0px;
    outline: 1px solid var(--color-border);
    position: relative;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.container:hover {
    background-color: #1F1E2E;
    outline: 1px solid var(--color-primary-highlight);
    cursor: pointer;
    transition: outline-color 0.3s ease-in-out;
}

.container.selected {
    outline: 1px solid var(--color-primary-highlight);
}

.addIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.3;
}

.container:hover>.addIcon {
    opacity: 1;
}

.container:hover .addIcon.iconGone {
    opacity: 0;
}
.iconGone {
    opacity: 0;
}

/* 
.faction_badge {
    position: absolute;
    width: 3px;
    height: 32px;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 400;
    border-radius: 0px;
} */


.avatar {
    border-radius: 24px 0px 40px 0px;
    width: 124px;
    height: 124px;
}

.avatarPreview {
    border-radius: 24px 0px 40px 0px;
    width: 124px;
    height: 124px;
}

.gradient {
    border-radius: 24px 0px 40px 0px;
    width: 124px;
    height: 124px;
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(17, 19, 21, 0.72) 0%, #0E0F11 100%);
}

.Ornaments {
    position: relative;
    z-index: 100;
}

.editButton {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -8px;
    top: -8px;
    background-color: var(--color-secondary-background);
    border: 1px solid var(--color-divider);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    z-index: 500;
    cursor: pointer;
}

.editButton:hover {
    background-color: var(--color-secondary-background);
}