.primaryButton {
    border-radius: 12px 0px;
    color: white;
    background-color: #7867F6;
    display: inline-flex;
    padding: 24px 12px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 66px;
    position: relative;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    transition: background-color 0.4 ease-in-out;
}

.primaryButton:hover {
    cursor: pointer;
    background-color: #614DF6;

}

.primaryButton:hover .Icon {
    animation: moveInOut 0.4s forwards;
}

.IconWrapper {
    height: 18px;
    width: 18px;
    overflow: hidden;

}

@keyframes moveInOut {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    51% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}