.main {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
	height: 100vh;
  }
  
.leftPanelWrapper {
	/* background-color: blue; */
	
}

.heroGridWrapper{
	/* background-color: yellow; */
	margin-right: 120px;
	margin-left: 120px;
	max-width: 100%;
}

.dropdown {
	display: flex;
	width: 100%;

	margin-bottom: 40px;
	margin-top: 40px;
}