.main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}

.heroGridWrapper {
    /* background-color: yellow; */
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}


.backgroundImage {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
}


.leftPanelInnerWrapper {
    position: relative;
    z-index: 500;
}

.panelWrapper {
    position: relative;
    /* z-index: 12; */

}

.leftPanelWrapper {
    display: flex;
    position: relative;
    justify-content: flex-start;
    /* margin-left: 80px; */
    z-index: 100;
    background-color: #0F1012;
}

/* 
.topBarWrapper {
    z-index: 999;
} */


.logoWrapper {
    display: flex;
    margin-top: 50px;
    gap: 8px;
    z-index: 201;
    align-items: center;
    position: fixed;
}

.shape {
    width: 24px;
    height: 24px;
    background-color: var(--color-primary-highlight);
    border-radius: 6px 0px;
}

.logoText {
    color: #7867F6;
    font-size: 28px;
    color: white;
    font-family: 'Bebas Neue';

}

.afkText {
    color: var(--color-primary-highlight);
}

.Filters {
    margin-bottom: 40px;
    margin-top: 20px;
}

.logoWrapper {
    margin-left: 80px;
}


.modal {
    position: relative;
    z-index: 100;
}


.LeftPanelPlaceholder {
    position: absolute;
    height: 100vh;
    width: 400px;
    left: 0;
    top: 0;
    background-color: #0F1012;
    z-index: 200;
}

.backdrop{
    position: absolute;
    z-index: 5;
}