.container {
	width: 100px;
	height: 100px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 32px 0px 32px 0px;

  }
/*   
  .avatar {
	border-radius: 32px 0px 32px 0px;
	transition: transform .3s ease-in-out;
  }
  
  .avatar:hover {
	transform: scale(1.05); 
  } */

  .faction_badge{
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: 4px;
	margin-top: 4px;
  }
