.container {
	overflow: hidden;
	cursor: pointer;
	border-radius: 24px 4px 24px 4px;

  }
  .faction_badge{
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	pointer-events: none;
	z-index: 2;
  }

  
  
  .avatar {
	border-radius: 32px 0px 32px 0px;
	transition: transform .3s ease-in-out;
	outline: 2px solid var(--color-divider);

  }
  
  .avatar:hover {
	outline: 2px solid var(--color-highlight);
  }
