.container {
    overflow: hidden;
    cursor: pointer;
}

.faction_badge {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    pointer-events: none;
    z-index: 2;
}

.avatar {
    position: relative;
    border: 1px solid transparent;
    border-radius: 32px 0px 32px 0px;
    transition: border .2s ease-in-out;
}

.avatar:hover {
    border: 1px solid var(--color-primary-highlight);
}

.heroContent {
    position: relative;
    display: inline-block;
}

.tooltipContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}