.container {
    position: absolute;
    background-color: var(--color-secondary-background);
    margin: auto;
    z-index: 999;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    font-size: var(--font-size-200);
    color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2px;
    pointer-events: none;
}