.wrapper {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border-top: 1px solid #61666B;
    border-left: 0px;
    background: #353739;
    transition: background-color 0.3s ease-in-out;
    color: #9C9DA6;
    font-size: 16px;
    position: relative;
    font-weight: 400;
}

.wrapper:hover {
    cursor: pointer;
    background: #272a2d;
}

